#container {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(7,1fr);
    grid-gap:0.2rem 0.2rem;
    border:0.5em solid black;
    border-radius:0.5rem;    
}
*{
    margin:auto;
    padding:auto;
    background-color: darkblue;
    box-sizing: border-box;
}
html {
    max-width:25%;
    max-height:50%;
    font-size:14px;
    background-color: darkblue;
}
body{
    max-width:100%;
    max-height:100%;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: darkblue;
    color:white;
}
.cntainer{
    text-align:center;
    background-color:black;
    border-radius:100%;
    margin:0rem;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1rem;
    border-spacing:2px;
    max-width: 15rem;
}
.cntainer0{
    grid-column:1/5;
    grid-row:1/3;
    text-align:right;
    width:80%;
    background-color:black;
    color:white;
    width:auto;
    font-family:Arial, Helvetica;
}
.cntainer1{
    background-color:rgb(164,164,164);
    color:black;
    width:auto;
    border-radius:100%;
    width: 3rem;
    height:3rem;
}
.cntainer2{
    background-color:rgb(255,152,52);
    color:white;
    width: 3rem;
    height:3rem;
    border-radius: 100%;
} 
.cntainer3{
    background-color:rgb(54,54,54);
    color:white;
    width:auto;
    border-radius: 100%;
    width: 3rem;
    height:3rem;
}
.cntainer3.zero{
    grid-column:1/3;
}
#zero {
    grid-column:1/3;
}
#scrn{
    color:white;
    font-size: 3rem;
    background-color:black;
    text-align:right;
    font-family:Arial, Helvetica;
    border:0px;
    width:100%;
    grid-row:1/3;
}
.black {
    color:black;
}
button {
    width: 3rem;
    height:3rem;
    border-radius:100%;
    border:none;
    font-size:1rem;
    border-collapse:collapse;
    border-spacing:2px;
    appearance: auto;
    letter-spacing: normal;
    word-spacing:normal;
    text-transform: none;
    text-indent:0px;
    text-shadow: none;
    display:inline-block;
    text-align: center;
    align-items: flex-start;
    cursor:default;
    margin: 0em;
    font:400 13.3333px Arial;
    padding:1px 6px;
    background-color: transparent;
}
button:focus { outline:none }
.black{
    background-color:rgb(164,164,164);
    color:black;
    width:auto;
}
.yellow{
    background-color:rgb(255,152,52);
    color:white;
    width:auto;
}
.gray{
    background-color:rgb(54,54,54);
    color:white;
    width:auto;
}
.gray.zero{
    grid-column:1/3;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html {
        max-width:100%;
    }
  }
















